/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* #map
{
	-fx-background-image: url("mapa.jpg");
	-fx-spacing: 40;
}*/


#terr {
-fx-background-radius: 100px;
-fx-pref-width: 10px;
-fx-pref-height: 10px;
}

#map{
	-fx-background-image: url("mapa.jpg");
}
